*{
    width: 100%;
    padding: 0.25%;
    margin: 0;
    /*overflow-y: hidden;*/
}
#lateral {width: -90%;}
#espacio {padding: 3%;}

/*body{
    background:url(../img/Sejuani.jpg)
}*/

.titulo{
    color: blueviolet;
}
.fondo{
    color: rgb(223, 25, 25);
    background-image: url(../img/Renamon.png);
}

.card{
    width: auto;
}
/*#000 hex color - hexadecimal*/
/*px*/
/*text="red"*/
